---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E1DFD3;
  color: rgba(0, 0, 0, 0.8);
}

@font-face {
  font-family: "Range Mono";
  src: url("/assets/fonts/RangeMono-Regular.woff2") format("woff2"),
       url("/assets/fonts/RangeMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url("/assets/fonts/Grotesk-Regular.woff2") format("woff2"),
       url("/assets/fonts/Grotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.article-body a {
  @apply text-yellow-900;
  text-decoration: underline;
}

.article-body a:hover {
  @apply text-yellow-950;
}
