<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} – {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="leading-loose">

    <div class="p-8 pb-12">

      <main class="m-auto max-w-6xl">
        <div class="pt-4 pb-12 text-center">
          <a class="inline-block" href="{{ site.baseurl }}/">
            <h3>Old Brown Earth</h3>
          </a>
        </div>

        {{ content }}
      </main>

    </div>

  </body>
</html>
